{
  "swagger": "2.0",
  "info": {
    "title": "Qubic HTTP API",
    "description": "Bridge service for Qubic network operations.",
    "version": "1.0.0"
  },
  "tags": [
    {
      "name": "QubicLiveService"
    }
  ],
  "host": "rpc.qubic.org",
  "basePath": "/live/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/assets/issuances": {
      "get": {
        "summary": "Search Asset Issuances",
        "description": "Returns a list of issued assets filtered by issuer identity and asset name.",
        "operationId": "QubicLiveService_GetIssuedAssetsByFilter",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbAssetIssuances"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "issuerIdentity",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "assetName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "QubicLiveService"
        ]
      }
    },
    "/assets/issuances/{index}": {
      "get": {
        "summary": "Get Asset Issuance By Index",
        "description": "Returns an asset issuance by universe index.",
        "operationId": "QubicLiveService_GetIssuedAssetByUniverseIndex",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbAssetIssuance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "tags": [
          "QubicLiveService"
        ]
      }
    },
    "/assets/ownerships": {
      "get": {
        "summary": "Search Asset Ownerships",
        "description": "Returns a list of asset ownerships filtered by issuer, asset name, owner and managing contract.",
        "operationId": "QubicLiveService_GetOwnedAssetsByFilter",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbAssetOwnerships"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "issuerIdentity",
            "description": "Identity of the issuer (required). Defaults to the zero address (smart contract shares).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "assetName",
            "description": "Name of the asset (required).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ownerIdentity",
            "description": "Identity of the owner of the asset (optional).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ownershipManagingContract",
            "description": "Index of the contract that manages the ownership (optional).",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "tags": [
          "QubicLiveService"
        ]
      }
    },
    "/assets/ownerships/{index}": {
      "get": {
        "summary": "Get Asset Ownership By Index",
        "description": "Returns an asset ownership by universe index.",
        "operationId": "QubicLiveService_GetOwnedAssetByUniverseIndex",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbAssetOwnership"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "tags": [
          "QubicLiveService"
        ]
      }
    },
    "/assets/possessions": {
      "get": {
        "summary": "Search Asset Possessions",
        "description": "Returns a list of asset possessions filtered by issuer, asset name, owner, possessor and managing contracts.",
        "operationId": "QubicLiveService_GetPossessedAssetsByFilter",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbAssetPossessions"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "issuerIdentity",
            "description": "Identity of the issuer (required). Defaults to the zero address (smart contract shares).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "assetName",
            "description": "Name of the asset (required).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ownerIdentity",
            "description": "Identity of the owner of the asset (optional).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "possessorIdentity",
            "description": "Identity of the possessor of the asset (optional).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ownershipManagingContract",
            "description": "Index of the contract that manages the ownership (optional).",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "possessionManagingContract",
            "description": "Index of the contract that manages the possession (optional).",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "tags": [
          "QubicLiveService"
        ]
      }
    },
    "/assets/possessions/{index}": {
      "get": {
        "summary": "Get Asset Possession By Index",
        "description": "Returns an asset possession by universe index.",
        "operationId": "QubicLiveService_GetPossessedAssetByUniverseIndex",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbAssetPossession"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "tags": [
          "QubicLiveService"
        ]
      }
    },
    "/assets/{identity}/issued": {
      "get": {
        "summary": "List Issued Assets",
        "description": "Gets assets issued by the specified identity.",
        "operationId": "QubicLiveService_GetIssuedAssets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbIssuedAssetsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "QubicLiveService"
        ]
      }
    },
    "/assets/{identity}/owned": {
      "get": {
        "summary": "List Owned Assets",
        "description": "Gets assets that are owned by the specified identity.",
        "operationId": "QubicLiveService_GetOwnedAssets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbOwnedAssetsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "QubicLiveService"
        ]
      }
    },
    "/assets/{identity}/possessed": {
      "get": {
        "summary": "List Possessed Assets",
        "description": "Gets assets that are possessed by the specified identity.",
        "operationId": "QubicLiveService_GetPossessedAssets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbPossessedAssetsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "QubicLiveService"
        ]
      }
    },
    "/balances/{id}": {
      "get": {
        "summary": "Get Balance",
        "description": "Gets the balance of the specified identity.",
        "operationId": "QubicLiveService_GetBalance",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbGetBalanceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "QubicLiveService"
        ]
      }
    },
    "/block-height": {
      "get": {
        "summary": "Get Block Height",
        "description": "Deprecated: use /tick-info instead.",
        "operationId": "QubicLiveService_GetBlockHeight",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbGetBlockHeightResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "QubicLiveService"
        ],
        "deprecated": true
      }
    },
    "/broadcast-transaction": {
      "post": {
        "summary": "Broadcast Transaction",
        "description": "Broadcasts a transaction to the network.",
        "operationId": "QubicLiveService_BroadcastTransaction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbBroadcastTransactionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pbBroadcastTransactionRequest"
            }
          }
        ],
        "tags": [
          "QubicLiveService"
        ]
      }
    },
    "/ipos/active": {
      "get": {
        "summary": "Get Active IPOs",
        "description": "Returns a list of IPOs that are active in the current epoch.",
        "operationId": "QubicLiveService_GetActiveIpos",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbGetActiveIposResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "QubicLiveService"
        ]
      }
    },
    "/querySmartContract": {
      "post": {
        "summary": "Query Smart Contract",
        "description": "Queries a smart contract function.",
        "operationId": "QubicLiveService_QuerySmartContract",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbQuerySmartContractResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pbQuerySmartContractRequest"
            }
          }
        ],
        "tags": [
          "QubicLiveService"
        ]
      }
    },
    "/tick-info": {
      "get": {
        "summary": "Get Tick Info",
        "description": "Gets the current tick information.",
        "operationId": "QubicLiveService_GetTickInfo",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbGetTickInfoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "QubicLiveService"
        ]
      }
    }
  },
  "definitions": {
    "pbAssetInfo": {
      "type": "object",
      "properties": {
        "tick": {
          "type": "integer",
          "format": "int64"
        },
        "universeIndex": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "AssetInfo"
    },
    "pbAssetIssuance": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/pbAssetIssuanceData"
        },
        "tick": {
          "type": "integer",
          "format": "int64"
        },
        "universeIndex": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "AssetIssuance"
    },
    "pbAssetIssuanceData": {
      "type": "object",
      "properties": {
        "issuerIdentity": {
          "type": "string"
        },
        "type": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "numberOfDecimalPlaces": {
          "type": "integer",
          "format": "int32"
        },
        "unitOfMeasurement": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "title": "AssetIssuanceData"
    },
    "pbAssetIssuances": {
      "type": "object",
      "properties": {
        "assets": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pbAssetIssuance"
          }
        }
      },
      "title": "AssetIssuances"
    },
    "pbAssetOwnership": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/pbAssetOwnershipData"
        },
        "tick": {
          "type": "integer",
          "format": "int64"
        },
        "universeIndex": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "AssetOwnership"
    },
    "pbAssetOwnershipData": {
      "type": "object",
      "properties": {
        "ownerIdentity": {
          "type": "string"
        },
        "type": {
          "type": "integer",
          "format": "int64"
        },
        "managingContractIndex": {
          "type": "integer",
          "format": "int64"
        },
        "issuanceIndex": {
          "type": "integer",
          "format": "int64"
        },
        "numberOfUnits": {
          "type": "string",
          "format": "int64"
        }
      },
      "title": "AssetOwnershipData"
    },
    "pbAssetOwnerships": {
      "type": "object",
      "properties": {
        "assets": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pbAssetOwnership"
          }
        }
      },
      "title": "AssetOwnerships"
    },
    "pbAssetPossession": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/pbAssetPossessionData"
        },
        "tick": {
          "type": "integer",
          "format": "int64"
        },
        "universeIndex": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "AssetPossession"
    },
    "pbAssetPossessionData": {
      "type": "object",
      "properties": {
        "possessorIdentity": {
          "type": "string"
        },
        "type": {
          "type": "integer",
          "format": "int64"
        },
        "managingContractIndex": {
          "type": "integer",
          "format": "int64"
        },
        "ownershipIndex": {
          "type": "integer",
          "format": "int64"
        },
        "numberOfUnits": {
          "type": "string",
          "format": "int64"
        }
      },
      "title": "AssetPossessionData"
    },
    "pbAssetPossessions": {
      "type": "object",
      "properties": {
        "assets": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pbAssetPossession"
          }
        }
      },
      "title": "AssetPossessions"
    },
    "pbBalance": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "balance": {
          "type": "string",
          "format": "int64"
        },
        "validForTick": {
          "type": "integer",
          "format": "int64"
        },
        "latestIncomingTransferTick": {
          "type": "integer",
          "format": "int64"
        },
        "latestOutgoingTransferTick": {
          "type": "integer",
          "format": "int64"
        },
        "incomingAmount": {
          "type": "string",
          "format": "int64"
        },
        "outgoingAmount": {
          "type": "string",
          "format": "int64"
        },
        "numberOfIncomingTransfers": {
          "type": "integer",
          "format": "int64"
        },
        "numberOfOutgoingTransfers": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "Balance"
    },
    "pbBroadcastTransactionRequest": {
      "type": "object",
      "properties": {
        "encodedTransaction": {
          "type": "string",
          "title": "base64 encoded binary transaction data"
        }
      },
      "title": "BroadcastTransactionRequest"
    },
    "pbBroadcastTransactionResponse": {
      "type": "object",
      "properties": {
        "peersBroadcasted": {
          "type": "integer",
          "format": "int32"
        },
        "encodedTransaction": {
          "type": "string"
        },
        "transactionId": {
          "type": "string"
        }
      },
      "title": "BroadcastTransactionResponse"
    },
    "pbGetActiveIposResponse": {
      "type": "object",
      "properties": {
        "ipos": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pbIpo"
          }
        }
      },
      "title": "GetActiveIposResponse"
    },
    "pbGetBalanceResponse": {
      "type": "object",
      "properties": {
        "balance": {
          "$ref": "#/definitions/pbBalance"
        }
      },
      "title": "GetBalanceResponse"
    },
    "pbGetBlockHeightResponse": {
      "type": "object",
      "properties": {
        "blockHeight": {
          "$ref": "#/definitions/pbTickInfo"
        }
      },
      "title": "GetBlockHeightResponse"
    },
    "pbGetTickInfoResponse": {
      "type": "object",
      "properties": {
        "tickInfo": {
          "$ref": "#/definitions/pbTickInfo"
        }
      },
      "title": "GetTickInfoResponse"
    },
    "pbIpo": {
      "type": "object",
      "properties": {
        "contractIndex": {
          "type": "integer",
          "format": "int64",
          "description": "The index of the related contract (contract address)."
        },
        "assetName": {
          "type": "string",
          "description": "The name of the related asset."
        }
      },
      "title": "IPO"
    },
    "pbIssuedAsset": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/pbIssuedAssetData"
        },
        "info": {
          "$ref": "#/definitions/pbAssetInfo"
        }
      },
      "title": "IssuedAsset"
    },
    "pbIssuedAssetData": {
      "type": "object",
      "properties": {
        "issuerIdentity": {
          "type": "string"
        },
        "type": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "numberOfDecimalPlaces": {
          "type": "integer",
          "format": "int32"
        },
        "unitOfMeasurement": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "title": "IssuedAssetData"
    },
    "pbIssuedAssetsResponse": {
      "type": "object",
      "properties": {
        "issuedAssets": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pbIssuedAsset"
          }
        }
      },
      "title": "IssuedAssetsResponse"
    },
    "pbOwnedAsset": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/pbOwnedAssetData"
        },
        "info": {
          "$ref": "#/definitions/pbAssetInfo"
        }
      },
      "title": "OwnedAsset"
    },
    "pbOwnedAssetData": {
      "type": "object",
      "properties": {
        "ownerIdentity": {
          "type": "string"
        },
        "type": {
          "type": "integer",
          "format": "int64"
        },
        "padding": {
          "type": "integer",
          "format": "int32"
        },
        "managingContractIndex": {
          "type": "integer",
          "format": "int64"
        },
        "issuanceIndex": {
          "type": "integer",
          "format": "int64"
        },
        "numberOfUnits": {
          "type": "string",
          "format": "int64"
        },
        "issuedAsset": {
          "$ref": "#/definitions/pbIssuedAssetData"
        }
      },
      "title": "OwnedAssetData"
    },
    "pbOwnedAssetsResponse": {
      "type": "object",
      "properties": {
        "ownedAssets": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pbOwnedAsset"
          }
        }
      },
      "title": "OwnedAssetsResponse"
    },
    "pbPossessedAsset": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/pbPossessedAssetData"
        },
        "info": {
          "$ref": "#/definitions/pbAssetInfo"
        }
      },
      "title": "PossessedAsset"
    },
    "pbPossessedAssetData": {
      "type": "object",
      "properties": {
        "possessorIdentity": {
          "type": "string"
        },
        "type": {
          "type": "integer",
          "format": "int64"
        },
        "padding": {
          "type": "integer",
          "format": "int32"
        },
        "managingContractIndex": {
          "type": "integer",
          "format": "int64"
        },
        "issuanceIndex": {
          "type": "integer",
          "format": "int64"
        },
        "numberOfUnits": {
          "type": "string",
          "format": "int64"
        },
        "ownedAsset": {
          "$ref": "#/definitions/pbOwnedAssetData"
        }
      },
      "title": "PossessedAssetData"
    },
    "pbPossessedAssetsResponse": {
      "type": "object",
      "properties": {
        "possessedAssets": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pbPossessedAsset"
          }
        }
      },
      "title": "PossessedAssetsResponse"
    },
    "pbQuerySmartContractRequest": {
      "type": "object",
      "properties": {
        "contractIndex": {
          "type": "integer",
          "format": "int64",
          "title": "identifies the smart contract"
        },
        "inputType": {
          "type": "integer",
          "format": "int64",
          "title": "identifies the function to be queried"
        },
        "inputSize": {
          "type": "integer",
          "format": "int64",
          "title": "the size of the input data (request data)"
        },
        "requestData": {
          "type": "string",
          "title": "base64 encoded input data"
        }
      },
      "title": "QuerySmartContractRequest"
    },
    "pbQuerySmartContractResponse": {
      "type": "object",
      "properties": {
        "responseData": {
          "type": "string"
        }
      },
      "title": "QuerySmartContractResponse"
    },
    "pbTickInfo": {
      "type": "object",
      "properties": {
        "tick": {
          "type": "integer",
          "format": "int64",
          "title": "current network tick"
        },
        "duration": {
          "type": "integer",
          "format": "int64"
        },
        "epoch": {
          "type": "integer",
          "format": "int64",
          "title": "current epoch"
        },
        "initialTick": {
          "type": "integer",
          "format": "int64",
          "title": "initial tick of epoch"
        }
      },
      "title": "TickInfo"
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Github",
    "url": "https://github.com/qubic/qubic-http"
  }
}
